* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title-form {
    margin-bottom: 35px;
}

#Update {
    display: none;
}

.link-style {
    text-decoration: none;
    cursor: pointer;
    color: #118ADB;
}

.link-style:hover{
    color: #073A5C;
}